function Main.main 3
push constant 10
pop local 0
push constant 30
pop local 1
push local 0
push local 1
call Main.gcd 2
pop local 2
push local 2
call Output.printInt 1
pop temp 0
push constant 0
return
function Main.gcd 1
push argument 0
push argument 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
pop local 0
push argument 1
pop argument 0
push local 0
pop argument 1
label IF_FALSE0
push argument 0
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
return
label IF_FALSE1
push argument 1
push argument 0
sub
push argument 0
call Main.gcd 2
return
